.container {
  display: flex;
  flex-direction: column; /* Cambiado para organizar los elementos en columna */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura de la ventana para centrar verticalmente */
}

.example-card {
  width: 100%;
  max-width: 800px; /* Ajusta este valor según tus necesidades */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px; /* Espacio entre la tarjeta y el botón */
}

.full-width {
  width: 100%;
}

.request {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.mat-icon {
  vertical-align: middle;
}


