.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura de la ventana para centrar verticalmente */
}

form {
  width: 100%;
  max-width: 600px; /* Puedes ajustar este valor según tus necesidades */
  padding: 20px; /* Espaciado interno para estética */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un mejor efecto visual */
  background-color: #fff; /* Fondo blanco para el formulario */
  border-radius: 8px; /* Bordes redondeados */
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espaciado superior para separar el botón del formulario */
}

